<% if (theme.baidu_analytics){ %>
<div style="display:none;">
<!-- xuanye01.tk Baidu tongji analytics -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fca7707d791c93c26f752f47474db5e66' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>
<% } %>