<% if (page.comments){ %>
<section id="comment"></section>
<link rel="stylesheet" href="/gitment/style/default.css">
<script src="/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({ 
  owner: '<%=config.github_owner%>',
  repo: '<%=config.github_repo%>',
  oauth: {
    client_id: '<%=config.github_client_id%>',
    client_secret: '<%=config.github_client_secret%>',
  },
})
gitment.render('comment')
</script>
<% } %>